* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100vw;
	height: 100vh;
}

@keyframes slidein {
	from, 17% {
		transform: translate(0, 36px);
		opacity: 0;
	} to {
		transform: translate(0, 0);
		opacity: 1;
	}
}

:root {
	--bgColor: white;
	--fgColor: black;
	--selectBgColor: black;
	--selectFgColor: white;
	--hoverBgColor: #eee;
	--codeBgColor: #333;
	--codeFgColor: white;
	--easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
	--pagePadding: 80px;
	--pageWidth: min(870px, 87%);
	font-family: sans-serif;
}

::selection {
	background-color: var(--selectBgColor);
	color: var(--selectFgColor);
}

.outlined {
	border: 3px solid var(--fgColor);
}

.transparent { opacity: 0; }

.truncated {
	height: 0;
	padding-bottom: 0;
}

button {
	letter-spacing: 0.08em;
	font-weight: bold;
	padding: 0.7em;
	background-color: var(--bgColor);
	color: var(--fgColor);
	border: none;
}

button:hover {
	filter: brightness(0.93);
}

button:active {
	background-color: var(--fgColor);
	color: var(--bgColor);
}

button#navigationToggle {
	width: 65px;
	height: 65px;
	overflow: clip;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('/images/menu.svg');
	align-self: center;
}

button#navigationToggle:active {
	background-image: url('/images/menu_light.svg');
}

button#navigationToggle.activated {
	background-image: url('/images/close.svg');
}

button#navigationToggle.activated:active {
	background-image: url('/images/close_light.svg');
}

a { color: black; }
a:hover { color: #555; }
a:active { color: #888; }

div#navigation {
	display: block;
	position: absolute;
	width: var(--pageWidth);
	z-index: 1;
	transition: opacity 0.1s linear;
	background-color: var(--bgColor);
	opacity: 0;
	pointer-events: none;
}

div#navigation.activated {
	opacity: 1;
	pointer-events: auto;
}

div#navigation ul#siteLinks {
	list-style-type: none;
	padding: 0;
	height: auto;
}

div#navigation li {
	font-size: xxx-large;
	font-weight: lighter;
	transition-property: transform, opacity;
	transition-duration: 1.2s;
	transition-timing-function: var(--easeOutExpo);
}

div#navigation li.prepared {
	transform: translateY(36px);
	opacity: 0;
}

div#navigation a { text-decoration: none; }

#contents {
	font-size: larger;
	animation: 1.2s var(--easeOutExpo) slidein;
	transition: opacity .1s linear;
	padding-bottom: 2.5em;
	overflow: clip;
}

div.wrapper {
	width: var(--pageWidth);
}

div.titleWrapper {
	display: flex;
	flex-direction: column;
}

body > div {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

nav {
	display: flex;
	height: min-content;
	padding: 60px 0;
	animation: 1s var(--easeOutExpo) slidein;
	text-overflow: ellipsis;
	overflow: hidden;
}

div.separator {
	flex-grow: 1;
}

h1.title {
	font-size: xxx-large;
	font-weight: lighter;
}

.date {
	font-size: x-large;
	font-weight: initial;
	color: grey;
}
