* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	overflow: auto;
}

:root {
	--main-bg-color: white;
	--ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
	font-family: sans-serif;
}

::selection {
	background-color: black;
	color: white;
}

a {
	color: black;
}

a:active {
	color: gray;
}

div#navigation {
	display: block;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 1;
	transition: opacity 0.2s linear;
	background-color: var(--main-bg-color);
	opacity: 0;
	pointer-events: none;
}

div#navigation.activated {
	opacity: 1;
	pointer-events: auto;
}

nav {
	display: flex;
}

div#content {
	width: 100%;
	height: 100%;
	z-index: 0;
	position: relative;
	display: flex;
	flex-direction: column;
}

nav {
	height: min-content;
	padding: 60px 0;
	animation: 1s var(--ease-out-expo) slidein;
	text-overflow: ellipsis;
	overflow: hidden;
}

div.separator {
	flex-grow: 1;
}

h1.title {
	font-size: xxx-large;
	font-weight: lighter;
	color: black;
}

.date {
	font-size: x-large;
	font-weight: initial;
	color: grey;
}
