* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	overflow: auto;
}

:root {
	--bgColor: white;
	--fgColor: black;
	--hoverBgColor: #eee;
	--easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
	--pagePadding: 80px;
	--pageWidth: min(870px, 87%);
	font-family: sans-serif;
}

::selection {
	background-color: black;
	color: white;
}

button {
	font-size: larger;
	letter-spacing: 0.08em;
	padding: 0.7em;
	height: min-content;
	width: min-content;
	align-self: center;
	background-color: transparent;
	border: 3px solid var(--fgColor);
}

button:hover {
	background-color: var(--hoverBgColor);
}

button:active {
	background-color: var(--fgColor);
	color: var(--bgColor);
}

button#navigationToggle {
	width: 65px;
	height: 65px;
	overflow: clip;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('/assets/menu.svg');
	border: none;
}

button#navigationToggle:active {
	background-image: url('/assets/menu_light.svg');
}

button#navigationToggle.activated {
	background-image: url('/assets/close.svg');
}

button#navigationToggle.activated:active {
	background-image: url('/assets/close_light.svg');
}

a {
	color: black;
}

a:hover {
	color: #555;
}

a:active {
	color: #888;
}

div#navigation {
	display: block;
	position: absolute;
	width: var(--pageWidth);
	z-index: 1;
	transition: opacity 0.1s linear;
	background-color: var(--bgColor);
	opacity: 0;
	pointer-events: none;
}

div#navigation.activated {
	opacity: 1;
	pointer-events: auto;
}

div#navigation ul#siteLinks {
	list-style-type: none;
	padding: 0;
	height: 0;
}

div#navigation ul#siteLinks.activated {
	height: auto;
}

div#navigation li {
	font-size: xxx-large;
	font-weight: lighter;
	transition-property: transform, opacity;
	transition-duration: 1.2s;
	transition-timing-function: var(--easeOutExpo);
}

div#navigation li.prepared {
	transform: translateY(36px);
	opacity: 0;
}

div#navigation a {
	text-decoration: none;
}

div#navigation.activated ~ article {
	display: none;
}

nav {
	display: flex;
}

body > div {
	width: 100%;
	height: 100%;
	z-index: 0;
	position: relative;
	display: flex;
	flex-direction: column;
}

nav {
	height: min-content;
	padding: 60px 0;
	animation: 1s var(--easeOutExpo) slidein;
	text-overflow: ellipsis;
	overflow: hidden;
}

div.separator {
	flex-grow: 1;
}

h1.title {
	font-size: xxx-large;
	font-weight: lighter;
	color: black;
}

.date {
	font-size: x-large;
	font-weight: initial;
	color: grey;
}
