:root {
	--figureBgColor: #333;
}

@keyframes slidein {
	from, 17% {
		transform: translate(0, 36px);
		opacity: 0;
	} to {
		transform: translate(0, 0);
		opacity: 1;
	}
}

body > div {
	align-items: center;
	width: 100vw;
}

div.wrapper {
	width: var(--pageWidth);
}

div.title-wrapper {
	display: flex;
	flex-direction: column;
}

article {
	font-size: larger;
	animation: 1.2s var(--easeOutExpo) slidein;
	padding-bottom: 2.5em;
}

article p,ol,ul,hr,table,dl {
	margin-bottom: 1.25em;
}

article h1 {
	font-size: xxx-large;
	font-weight: lighter;
}

article h2 {
	font-size: xx-large;
	font-weight: lighter;
}

article h3 {
	font-size: x-large;
	font-weight: lighter;
}

article h1,h2,h3 {
	margin-top: 1em;
	margin-bottom: 0.6em;
}

article img {
	object-fit: contain;
	max-width: 100%;
}

article blockquote {
	border-left: 4px solid lightgray;
	padding-left: 1em;
}

article code {
	background-color: #e5e5e5;
	font-family: monospace;
}

article ol,ul {
	padding-left: 1em;
}

article table {
	border-collapse: collapse;
	overflow: auto;
	display: block;
}

article > table * {
	border: 2px solid lightgray;
	padding: 6px 13px;
}

article > table thead {
	background-color: #d3d3d350;
}

article > table tr:nth-child(2n) {
	background-color: #d3d3d350;
}

article dl dt {
	font-weight: lighter;
	font-size: x-large;
}

article dl dd::before {
	content: '— ';
}

article input[type="checkbox"] {
	width: 1.2em;
	height: 1.2em;
}

article figure {
	background-color: var(--figureBgColor);
	color: white;
	line-height: 1.08em;
}

article figure ::selection {
	background-color: white;
	color: black;
}

article figure pre {
	padding: 10px;
}
